<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMortgageCalculator" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMortgageCalculator" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9200/MortgageCalculator"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMortgageCalculator"
                contract="MortgageCalculatorServiceReference.IMortgageCalculator"
                name="BasicHttpBinding_IMortgageCalculator" />
            <endpoint address="net.tcp://localhost:9201/MortgageCalculator"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMortgageCalculator"
                contract="MortgageCalculatorServiceReference.IMortgageCalculator"
                name="NetTcpBinding_IMortgageCalculator">
                <identity>
                    <userPrincipalName value="DESKTOP-D1B2PCM\Harsh Vardhan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>